In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Load the dataset using pandas
filename = "../../input/prophet/AAPL.csv"
data = pd.read_csv(filename) 
data.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-10-26,29.520000,29.532499,28.730000,28.820000,26.632969,265335200
1,2015-10-27,28.850000,29.135000,28.497499,28.637501,26.464319,279537600
2,2015-10-28,29.232500,29.825001,29.014999,29.817499,27.554773,342205600
3,2015-10-29,29.674999,30.172501,29.567499,30.132500,27.845867,204909200
4,2015-10-30,30.247499,30.305000,29.862499,29.875000,27.607912,197461200

In [4]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03
mean,48.249091,48.767081,47.753795,48.285800,47.139060,1.344879e+08
std,22.397560,22.759488,21.977227,22.384859,22.870595,6.330088e+07
min,22.500000,22.917500,22.367500,22.584999,21.202499,2.926430e+07
25%,30.352500,30.598751,30.170000,30.477500,28.814953,9.314560e+07
50%,43.250000,43.625000,42.927502,43.242500,41.954594,1.176844e+08
75%,54.685000,55.327500,54.188750,54.683750,53.606766,1.589832e+08
max,137.589996,137.979996,130.529999,134.179993,134.179993,5.334788e+08

In [ ]:
# Select only the important features i.e. the date and price
data = data[["Date","Close"]] # select Date and Price
# Rename the features: These names are NEEDED for the model fitting
data = data.rename(columns = {"Date":"ds","Close":"y"}) #renaming the columns of the dataset
data.head(5)

In [ ]:
from fbprophet import Prophet
m = Prophet(daily_seasonality = True) # the Prophet class (model)
m.fit(data) # fit the model using all data

In [ ]:
future = m.make_future_dataframe(periods=365) #we need to specify the number of days in future
prediction = m.predict(future)
m.plot(prediction)
plt.title(filename)
plt.xlabel("Date")
plt.ylabel("Close Stock Price")
plt.show()

In [ ]:
m.plot_components(prediction)
plt.show()